body {
  font-family: sans-serif, Helvetica, Arial;
  font-size: 16px;
}

.isitflooded {
  margin-top: 3rem;
  font-size: 8rem;
  word-wrap: break-word;
  text-align: center;
}

.isitflooded-last-reading {
  /*text-align: center;*/
  background-color: #F2F2F2;
  position: fixed;
  left: 0;
  bottom: 1.8rem;
  width: 100%;
}

.isitflooded-last-reading > p {
  padding: 0.5rem;
}

.last-reading-static {
  font-style: italic;
}

.last-reading-date {
  font-weight: bold;
}

.last-reading-warning {
  font-size: 1.4rem;
}

.last-reading-over-delay {
  font-size: 1rem;
  color: #fff;
  background-color: rgb(245, 47, 47);
}

.isitflooded-link {
  padding: 2rem 0 3rem 0;
  text-align: center;
}

.chart-controls {
  width: 100%;
  min-width: 280px;
  max-width: 600px;
  margin: 2rem auto;
  text-align: right;
}

.warning-band {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: rgb(181, 7, 7);
  opacity: 0.3;
}

#time-chart {
  width: 100%;
  min-width: 280px;
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
}

footer {
  padding: 0.5rem 0;
  background-color: #646464;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}

footer > a {
  color: #fff;
}

@media screen and (max-width: 400px) {
  #time-chart {
    width: inherit;
    margin: 0 2rem;
  }
}