<div class="chart-controls">
  <p>Select Reading Range:&nbsp;
    <select id="range-select" data-selection="{{selectedRange}}">
      <option value="day" {{selectedRange selectedRange 'day'}}>Day</option>
      <option value="week" {{selectedRange selectedRange 'week'}}>Week</option>
      <option value="year" {{selectedRange selectedRange 'year'}}>Year</option>
      <option value="all" {{selectedRange selectedRange 'all'}}>All</option>
    </select>
  </p>
</div>
<div data-reading="{{json items}}" data-config="{{json configuration}}" id="time-chart"></div>
<!-- <ul>
{{#each items}}
  <li data-reading="{{json this}}">{{level}} - {{formattedTime}}
{{/each}}
</ul> -->
<p class="isitflooded-link">
  <a href="/isitflooded">is it currently flooded?</a>
</p>
<script src="lib/flotr2.min.js"></script>
<script src="script/floodpi-chart.js"></script>